Cargo.lock
**/.passivate
**target
lcov.info
**/tests/snapshots/**/*.diff.png
**/tests/snapshots/**/*.new.png
**/tests/snapshots/**/*.old.png
test_output/**
!test_output/README.txt
test_data/project_snapshot_tests/tests/snapshots
